.topbar {
  /* width: 100%; */
  width: 80%;
  height: 50px;
  background-color: white;
  /* position: sticky; */
  position: fixed;
  top: 0;
  z-index: 999;
  border-bottom: #dddddd solid 2px;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .topbar {
    width: calc(100% - 80px);
  }
}

@media only screen and (max-width: 739px) {
  .topbar {
    width: 100%;
  }

  .topLeft {
    display: none;
  }

  .topRight {
    padding-right: 20px;
    position: absolute;
    right: 0;
  }
}