:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 55%;  /* 62.5% = 10px */
    background-color: #1d1d1d;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    /* font-size: 1.2rem; */
    font-size: 100%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /* line-height: 1.6rem; */
    box-sizing: border-box;
    margin: 0 0;
}

.grid {
    width: 1112px;
    margin: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.grid__full-width {
    width: 100%;
}

.grid__column_2 {
    display: flex;
    padding-left: 13px;
    padding-right: 13px;
    /* width: calc(25% - 26px); */
    width: 75%;
    flex-direction: column;
}

.grid__column {
    padding-left: 13px;
    padding-right: 13px;
    width: calc(25% - 26px);
}

.grid__column_1 {
    padding-left: 13px;
    padding-right: 26px;
    width: 25%;
}

.grid__column_10 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.grid__row {
    display: flex;
}

.container {
    background: #1d1d1d;
}
.home-product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: #888;  
}
.home-product-item-img:hover {
    border-color: var(--while-color);
}
.home-product-item {
    background-color: #1d1d1d;
    width: 100%;
}
.home-product-item-name {
    color: #fff;
    font-weight: 400;
    
}
.home-product-item-name:hover {
    color: yellow;
}
.home-product-item-price {
    color: yellow;
    font-size: 1.6rem;
}
.category {
    background-color: #373a3c;
    font-size: 1.6rem;
    border-radius: 2px;
    border-bottom: #1d1d1d 8px solid;
}
.trademark {
    color: yellow;
    font-weight: 200;
    padding: 16px;
    border-bottom: 1.5px solid #1d1d1d;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.list-trademark {
    list-style: none;
    text-align: none;
    margin: 0;
    padding: 16px;
}
.category .list-trademark a {  
   margin: 0;
   color: #fff;
    padding: 16px 0;
}
.name-trademark a {
    
    text-decoration: none;

}

.name-trademark {
    padding: 4px 0;
    font-weight: 400;
}
.name-trademark a:hover {
    color: yellow;
    font-size: 150%;
}
.grid__row .grid__full-width {
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.heading-product {
    margin: 0 0 20px 0;
    padding-left: 12px;
    color: #888;
    font-weight: 300;
    font-size: 24px;
}
.sort-product {
    display: flex;
}
.sort {
    margin: 0 0 20px 0;
    padding-left: 12px;
    color: #888;
    font-weight: 300;
    font-size: 24px;  
}
/* manh */
.row {
    /* margin-left: -15px;
    margin-right: -15px; */
    display: flex;
}

.cl--primary {
    color: #ffe11b;
}

.row {
    margin-bottom: 40px;
}




.custom-select {
    position: relative;
    font-size: 16px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: #373a3c;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #fff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent #373a3c transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #373a3c;
    top: 76%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: #888;
  }

.nav__pagination {
    margin-top: 40px;
}

.nav__pagination .pagination {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.pagination .number_page {
    display: flex;
}

.pagination .page_item {
    list-style-type: none;
    padding: 10px 0;
    width: 40px;
    background-color: #373737;
    margin-right: 10px;
    border-radius: 4px;
    text-align: center;
}

.pagination .page_item:hover {
    background: #ffe11b;
    cursor: pointer;
}

.pagination .page_link {
    text-decoration: none;
    color: #fff;
    
}

.pagination .btn_pre_top.close,
.pagination .btn_pre.close,
.pagination .btn_next.close,
.pagination .btn_next_end.close {
    display: none;
}


/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
     .grid__row.app-content > .grid__column_1 {
        display: none;
    }

    .grid__column_2 {
        width: 100%;
    }
    .grid__column_10 .grid__column {
        width: calc(50% - 40px);
    }

    .grid__column_10 {
        width: 100%;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.19em) and (max-width: 75em) {
    .grid__column {
        width: calc(33% - 38px);
    }
}