a {
    color: #555;
    text-decoration: none;
    background-color: transparent;
}

.footer-bottom {
    padding: 15px 0;
    border-top: #dddddd solid 2px;
    background-color: #4952c68a   !important;
    color: #b0b0b0;
    font-family: rubik;
}

.footer-bottom ul {
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-3 {
    max-width: 50%;
    position: relative;
    width: 100%;
}

.footer-site-info {
    text-align: center;
}